@charset "UTF-8";
body {
  background-color:#F6F6F6;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  line-height: 5;
}


strong {
  font-weight: 500;
}



#topnav{
	margin: auto;
	padding: 10px;
}

#topnav ul{
	display: flex;
	list-style-type: none;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-right: 40px;
}

.title{
	margin-right: auto;
	font-size: 24px;
  	line-height: 1;
  	font-weight: 500;
	
}
.title1{
	margin-right: auto;
	font-size: 24px;
  	line-height: 1;
  	font-weight: 500;
	padding-top: 20px;
	list-style: none;
	
}

.pages{
	margin-right: 25px;
	font-size: 20px;
  	line-height: 1;
  	font-weight: 500;
}

.icons{
	margin-left: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

hr{
	border-top: 2px solid black;
	border-bottom-width: Opx;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #464142;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #F6F6F6;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 30px;
  color: black;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  color: white;
  font-family: "Roboto Mono", sans-serif;
  padding: 50px;
}

#contact{
	display: flex;
	margin-top: 50px;
}

#contact li a{ 
	text-decoration: none;
	list-style-type: none;
}

.footer {
  margin: 20px 0;
  text-align: center;
  color: black;
}

#contact{
		margin: auto;
		padding-left:0px;
		width: 390px;
		margin-top: 30px;
		justify-content: center;
	}

	#contact li {
		padding: 10px 10px 10px 10px;
		white-space: nowrap;
	}