@charset "UTF-8";
body {
  background-color:#F6F6F6;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  line-height: 5;
}



* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 30px;
  padding-top: 80px;
  height: 300px; 
  color: black;
}

.column1 {
  float: left;
  width: 50%;
  padding-left: 200px;
  height: 300px; 
  color: black;
}

.column2 {
  float: left;
  width: 50%;
  padding: 30px;
  padding-top: 80px;
  height: 600px; 
  color: black;
}

.column3 {
  float: left;
  width: 50%;
  padding-top: 50px;
  padding-left: 150px;
  height: 600px; 
  color: black;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .column3 {
    width: 100%;
  }
		
	
}
strong {
  font-weight: 500;
}



#topnav{
	margin: auto;
	padding: 10px;
}

#topnav ul{
	display: flex;
	list-style-type: none;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-right: 40px;
}

.title{
	margin-right: auto;
	font-size: 24px;
  	line-height: 1;
  	font-weight: 500;
	
}
.title1{
	margin-right: auto;
	font-size: 24px;
  	line-height: 1;
  	font-weight: 500;
	padding-top: 20px;
	list-style: none;
	
}

#page-list{
	margin-left: -20px;
	display: flex;
}

.pages{
	margin-right: 25px;
	font-size: 20px;
  	line-height: 1;
  	font-weight: 500;
}

.icons{
	margin-left: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

hr{
	border-top: 2px solid black;
	border-bottom-width: Opx;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  color: white;
  font-family: "Roboto Mono", sans-serif;
  padding: 50px;
}

.gallery {
  margin: 2 auto;
  text-align: center;
  width: 100%;
  padding: 30px;
}
.gallery li {
  width: 421px;
  min-height: 100%;
  text-align: center;
  height: 255px;
  position: relative;
  margin: 2 auto;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}
.gallery li:nth-child(2) img {
  margin: 2;
  display: inline-block;
  float: right;
}
.gallery li .name {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: .1em;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.gallery li .name .title {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
.gallery li:hover .name {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.gallery li:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.gallery li:hover img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.4) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.gallery li:hover:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.gallery li img {
  display: block;
  width: 421px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


#contact{
	display: flex;
	margin-top: 50px;
}

#contact li a{ 
	text-decoration: none;
	list-style-type: none;
}

.footer {
  margin: 20px 0;
  text-align: center;
  color: black;
}

#contact{
		margin: auto;
		padding-left:0px;
		width: 390px;
		margin-top: 30px;
		justify-content: center;
	}

	#contact li {
		padding: 10px 10px 10px 10px;
		white-space: nowrap;
	}